
body{
    background-color: rgb(187, 237, 244);
}

header{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;

}

.menu{
    
    justify-content: space-around;
    list-style-type: none;
    width: 100%;

    
    

}

.menu li{
    display: inline-block;
    text-decoration: none;
    margin: 2rem

    
    
    
}


h1{ 
    color: midnightblue;
    font-size: 30px;
    text-align: center;
}

img{height: 300px
}

div{
    align-content: center;
}

footer{
    color: midnightblue;
    font-size: 20px;
    text-align: center;
  
}

