footer {
  color: midnightblue;
  font-size: 20px;
  text-align: center;
  padding-top: 300px; }

body {
  background-color: #bbedf4; }

header {
  display: inline-flex;
  justify-content: space-around;
  background-color: aliceblue;
  width: 100%; }

h1 {
  color: midnightblue;
  font-size: 30px;
  text-align: center;
  padding-top: 50px; }

div {
  align-content: center; }

p {
  justify-content: center; }

.estilobasico, header, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center; }

.menu {
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  width: 100%; }
  .menu ul {
    width: 100%; }
    .menu ul li {
      display: inline-block;
      text-decoration: none;
      margin: 2rem; }
      .menu ul li a {
        text-decoration: none; }

.containerplanes {
  padding-top: 100px; }

.contenedorTarjeta {
  text-align: center;
  display: inline-flex;
  justify-content: space-around; }
  .contenedorTarjeta .tarjeta {
    width: 350px;
    margin: 10px;
    border-width: 3px;
    border-color: #7a47e7;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #619db1;
    color: ghostwhite; }
    .contenedorTarjeta .tarjeta:hover {
      transition: all 1s;
      transform: scale(1.2); }
    .contenedorTarjeta .tarjeta img {
      margin: 20px;
      width: 90%; }

#imagenpesas {
  height: 50px;
  width: 50px;
  padding-top: 100px;
  padding-bottom: 100px; }

.bajada {
  margin: 20px; }

#Padre {
  height: 100px; }

.titulo {
  position: absolute;
  display: flex;
  color: #ecf3f4;
  top: 550px;
  width: 0px;
  padding-left: 30px;
  font-size: 50px; }

.imagenTitulo {
  display: flex;
  top: 0px; }

.formulario {
  padding-top: 200px; }
