body{
    background-color: rgb(187, 237, 244);
}

h1{ 
    color: midnightblue;
    font-size: 30px;
    text-align: center;
}


div{
    align-content: center;
}

footer{
    color: midnightblue;
    font-size: 20px;
    text-align: center;
  
}