body{
    background-color:$colordefondo;
}

main{
    width: 100%;
    height: 100%;
}

header{
    @extend .estilobasico;
    display: inline-flex;
    justify-content: space-around;
    background-color: aliceblue;
    width: 100%;

}


h1 { 
    color: $colorsecundario;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

div{
    align-content: center;
}

p{
  @extend .estilobasico;
    justify-content: center;
 
}

.estilobasico { 
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;

}


    
