


.parrafofuncional{
    display: inline-flex;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
   
}

.anchofoto{
    width: 100%;
}

.textopilates{
    margin-top: 50px;
    margin-left: 50px;
}

@media only screen and (max-width: 700px)
{
    


    .videopilates{
        margin-top: 30px;
    }
    #titulopilates{
        top: 200px;
        left:10px;
        color: #ecf3f4;
        display: flex;
        position: absolute;
        font-size: 35px;
        z-index: 1000;
    
    }

    .parrafofuncional{
        display: inline-flex;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 100px;
        margin-left: 15px;
        margin-right: 15px;
       
    }


}

@media only screen and (min-width: 700px)
{
#titulopilates{
    top: 800px;
    left:10px;
    color: #ecf3f4;
    display: flex;
    position: absolute;
    font-size: 45px;
    z-index: 1000;
}
}