.containerplanes{  

    padding-top: 100px;
    
    }
    
    .contenedorTarjeta {
        text-align: center;
        display: inline-flex;
        justify-content: space-around;
        .tarjeta {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            margin: 10px;
            border-width: 3px;
            border-color: #7a47e7;
            border-style: solid;
            border-radius: 10px;
            background-color: #619db1;
            color:ghostwhite;
            &:hover {
                transition: all 1s;
                transform: scale(1.2);
              }
              img {
                margin: 20px;
                width: 90%;
            }
        }
    }
    
    
    
  
    
