@mixin tarjetas ($width_tarjeta, $margin_tarjeta, $border_widthtarjeta, $border_colortrajeta, $border_styletarjeta) {
    width: $width_tarjeta;
        margin: $margin_tarjeta;
        border-width: $border_widthtarjeta;
        border-color: $border_colortrajeta;
        border-style: $border_styletarjeta;
}




.containerplanes{  

    padding-top: 100px;
    
    }
    
    .contenedorTarjeta {
        text-align: center;
        display: inline-flex;
        justify-content: space-around;
        .tarjeta { 
            @include tarjetas( 350px, 10px, 3px,#7a47e7, solid );
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            background-color: #619db1;
            color:ghostwhite;
            &:hover {
                transition: all 1s;
                transform: scale(1.2);
              }
              img {
                margin: 20px;
                width: 90%;
            }
        }
    }
    
    
    